<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1009829126341-e1dhso8im285bvj6bdoh529daht2u1d2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1009829126341-e1dhso8im285bvj6bdoh529daht2u1d2</string>
	<key>API_KEY</key>
	<string>AIzaSyCurKcZiwGVtb4iJ2aCb8jUs-OEenkfRsc</string>
	<key>GCM_SENDER_ID</key>
	<string>1009829126341</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.groupmeet</string>
	<key>PROJECT_ID</key>
	<string>groupmeet-89750</string>
	<key>STORAGE_BUCKET</key>
	<string>groupmeet-89750.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1009829126341:ios:1baa74323ab0ac537bd0ac</string>
</dict>
</plist>